name: Deploy Ktor (build on server)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            set -e

            cd project/UtilityOrdersBackend

            echo "Updating code..."
            git fetch origin
            git reset --hard origin/main

            echo "Building..."
            ./gradlew clean shadowJar --no-daemon
            
            mv build/libs/UtilityOrdersBackend.jar /opt/utility-orders/UtilityOrdersBackend.jar
            
            echo "Restarting service..."
            
            systemctl restart utility-orders